@model List<PoEBrowser.Models.BaseItem>

@{ 
    var flaskType = Model[0].ItemClass;
}

<table id="sortableTable" cellpadding="5" cellspacing="5" class="table-striped table-bordered mt-4" style="table-layout: auto;">

    <thead class="thead-dark">
        <tr>
            <th class="text-nowrap sorter-false">Item</th>
            <th class="text-nowrap">Drop Level</th>
            <th class="text-nowrap">Max Charges</th>
            <th class="text-nowrap">Charges Per Use</th>
            <th class="text-nowrap">Duration (sec)</th>

            @if (flaskType == "LifeFlask" || flaskType == "HybridFlask")
            {
                <th class="text-nowrap">Life Per Use</th>
            }

            @if (flaskType == "ManaFlask" || flaskType == "HybridFlask")
            {
                <th class="text-nowrap">Mana Per Use</th>
            }

            @if(flaskType == "UtilityFlask")
            {
                <th class="text-nowrap">Stats</th>
            }

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="container">
                        <div class="row d-flex align-items-center justify-content-center">
                            <img src="@item.ImgSrcString" />
                        </div>
                        <div class="row d-flex align-items-center justify-content-center">
                            <a asp-action="GetBaseItemByName" asp-route-name="@item.ItemName">@item.ItemName</a>
                        </div>
                    </div>
                </td>
                <td>
                    @item.DropLevel
                </td>
                <td>
                    @item.Properties.GetValueOrDefault("charges_max", 0)
                </td>
                <td>
                    @item.Properties.GetValueOrDefault("charges_per_use", 0)
                </td>
                <td>
                    @((int)item.Properties.GetValueOrDefault("duration", 0) / 10.00)
                </td>
                
                @if (flaskType == "LifeFlask" || flaskType == "HybridFlask")
                {
                    <td>
                        @item.Properties.GetValueOrDefault("life_per_use", 0)
                    </td>
                }

                @if(flaskType == "ManaFlask" || flaskType == "HybridFlask")
                {
                    <td>
                        @item.Properties.GetValueOrDefault("mana_per_use", 0)
                    </td>
                }

                @if (flaskType == "UtilityFlask")
                {
                    <td>
                        @foreach (var stat in item.Buff.Stats)
                        {
                            <p class="m-0" style="font-size: small">@stat.Key : @stat.Value</p>
                        }
                    </td>
                }
              
            </tr>
        }
    </tbody>
</table>
