@model PoEBrowser.Models.DivinationCard

@{
    ViewData["Title"] = $"Divination Cards - {Model.ItemName}";
    var divCardOverlay = "https://web.poecdn.com/image/item/popup/divination-card.png";
    var treatedDesc = Model.Description.Replace("</br>", "");
}

<div class="container-fluid m-sm-3 p-sm-3">

    <div class="row">

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">

                    <img class="divCardOverlay" src="@divCardOverlay">
                    <img class="divCardArtwork" src="@Model.CardArtString">

                    <div class="divCardTitleBlock">
                        <span class="divCardName">@Model.ItemName</span>
                    </div>

                    <div class="divCardStackSizeBlock">
                        <span class="divCardStackSize">1/@Model.StackSize</span>
                    </div>

                    <div class="divCardDescriptionBlock">
                        <div class="divCardDescription">@Html.Raw(treatedDesc)</div>
                    </div>

                    <div class="divCardFlavourBlock">
                        <div class="divCardFlavourText"><span class="uniqueitem">@Html.Raw(Model.FlavourText)</span></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-8">

            <div class="row mt-2">
                <div class="col-md-12">
                    <h6 class="mb-1 text-muted"><b>Drop Level</b></h6>
                    <hr class="mt-0 mb-2" />
                </div>
            </div>

            <div class="row mb-0">
                <div class="col-md-12">
                    <span style="display: block">@Model.DropLevel</span>
                </div>
            </div>

            @if (Model.DropAreas != null)
            {
                <div class="row mt-4">
                    <div class="col-md-12">
                        <h6 class="mb-1 text-muted"><b>Areas Found</b></h6>
                        <hr class="mt-0 mb-2" />
                    </div>
                </div>

                <div class="row mb-0">
                    <div class="col-md-12">
                        <ul class="list-unstyled">
                            @foreach (var area in Model.DropAreas)
                            {
                                <li>@area</li>
                            }
                        </ul>
                       
                    </div>
                </div>
            }


            <div class="row">
                <div class="col-md-12">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                </div>
            </div>

        </div>

    </div>

</div>