@model List<PoEBrowser.Models.BaseItem>

@{
    ViewData["Title"] = "Base Items";
}

@{
    int totalItems = Model.Count();
}

<div class="container">

    <div class="row mt-1 mb-1">
        <div class="col" style="text-align: center; font-size: x-small; width: 100%">
            <i>Displaying @totalItems Items</i>
        </div>
    </div>

    <div class="row mt-1 mb-1">
        <div class="flex-column ml-auto justify-content-end">
            <form class="form-inline my-2 my-lg-2">
                <input class="form-control mr-sm-2 bg-dark" type="text" placeholder="Search" name="q">
                <button class="btn btn-secondary my-2 mr-2" asp-action="GetBaseItems">Search</button>
                <button aria-label="Clear" class="btn close my-2" asp-action="GetBaseItems" asp-route-q=""><span aria-hidden="true">&times;</span></button>
            </form>
        </div>
    </div>

    @{
        var prevItemType = "";
        var itemCount = 0;
        var rowClosed = false;
    }

    <div class="container">
        @for (int i = 0; i < totalItems; i++)
        {
            if (prevItemType != Model[i].ItemClass)
            {
                if (!rowClosed)
                {
                @:</div>
                rowClosed = true;
            }

            @:<div class="row" style="width: 100%">
                @:<div class="col-md mt-4">
                        <div class="row">
                            <div class="col-6">
                                <span class="text-muted"><b>@Model[i].ItemClass</b></span>
                            </div>
                            <div class="col-6 mr-auto text-right">
                                <a style="font-size: small" asp-action="GetBaseItemsByType" asp-route-type="@Model[i].ItemClass" id="@Model[i].ItemClass">Compare All</a>
                            </div>
                        </div>
                        <hr class="mt-1 mb-1" />
                @:</div>
            @:</div>




            itemCount = 0;

        }

        if (itemCount == 0)
        {
            @:<div class="row">
                rowClosed = false;
            }

            @:<div class="col-md-4 mt-0 pt-0">
                <img style="max-height: 25px; width: auto" src="@Model[i].ImgSrcString" />
                <a asp-action="GetBaseItemByName" asp-route-name="@Model[i].ItemName">@Model[i].ItemName</a>
            @:</div>




            if (itemCount == 2 || i == (totalItems - 1))
            {
                itemCount = 0;
                rowClosed = true;
            @:</div>
        }
        else
        {
            itemCount++;
        }

        prevItemType = Model[i].ItemClass;

    }
</div>
